.banner .swiper {
    width: 200px;
    height: 300px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
 .banner .swiper-slide:nth-child(1n) {
    background-image: url('src/assets/ppp4.jpg');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/ppp3.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/ppp2.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/ppp1.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('src/assets/ppp5.jpg');
  }
  
 .banner .swiper-slide:nth-child(6n) {
    background-image: url('src/assets/ppp6.jpg');
  }
  
  .banner .swiper-slide:nth-child(7n) {
    background-image: url('src/assets/ppp7.jpg');
  }
  
 .banner .swiper-slide:nth-child(8n) {
    background-image: url('src/assets/ppp8.jpg');
  }
  
 .banner .swiper-slide:nth-child(9n) {
    background-image: url('src/assets/ppp9.jpg');
  }
  
